.idea/
*~
.directory
.Trash-*
.nfs*
.DS_Store
Icon
._*
*.log
node_modules/
*.tsbuildinfo
.env
.env.test
.env.production
.yarn/
.pnp.*
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
dist
.yarnrc.yml
package-lock.json